<nav class="layouts">
    <ul>
        <li (click)="setActiveLayout(layout)" [ngClass]="{'active':activeLayout===layout}"
            *ngFor="let layout of layouts">{{layout}}</li>
    </ul>
</nav>
<div class="content">
    <ng-container [ngSwitch]="activeLayout">
        <css-features-center-layout *ngSwitchCase="'center-layout'"></css-features-center-layout>
        <css-features-deconstructed-pancake
            *ngSwitchCase="'deconstructed-pancake'"></css-features-deconstructed-pancake>
    </ng-container>
</div>