<h1>Flexbox made simple</h1>

<header>
    <nav>
        <ul class="nav-list">
            <li>
                <a href="#">
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    About us
                </a>
            </li>
            <li>
                <a href="#">
                    Service information comes here
                </a>
            </li>
            <li>
                <a href="#">
                    Blog
                </a>
            </li>
            <li>
                <a href="#">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>

<h1>Flexbox made simple</h1>
<section class="cards">
    <h2>
        Some Cards
    </h2>
    <div class="columns">
        <article class="card">
            <h3 class="card__title">Fun Stuff</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, unde itaque quos dolor eos, numquam placeat
            quis culpa ullam nulla.
        </article>
        <article class="card">
            <h3 class="card__title">Fun Stuff</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, unde itaque quos dolor eos, numquam placeat
            quis culpa ullam nulla.
        </article>
        <article class="card">
            <h3 class="card__title">An longer title than the others</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet minus maiores corporis qui magni, minima
            veniam consectetur totam ut illum provident? Voluptate, ab deserunt. Nisi sapiente sint possimus porro nam!
        </article>
    </div>
</section>