<nav>
    <header>
        <h1>Features</h1>
    </header>
    <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
    </ul>
</nav>
<div>
    <router-outlet></router-outlet>
</div>