:host {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;

  height: 100%;
  border: 1px solid fuchsia;
}

.sidebar {
  border: 1px solid red;
}

.content {
  border: 1px solid blue;
}

.items-center {
  display: grid;
  place-items: center;
}
