<section class="header">Header</section>
<section class="content">
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quaerat architecto repudiandae qui, optio magni
        aliquam, minus totam, est rem culpa dolorem cum asperiores explicabo modi atque tenetur ad tempora.
        Aspernatur iusto ipsa soluta illo amet cupiditate temporibus corporis dolorum rem, fugit autem sit vel quis
        officia
        nobis provident unde reprehenderit laudantium est! A, similique. Velit distinctio facilis corporis vero!
        Ratione neque iure tenetur, rerum incidunt magni dolore iusto. Assumenda saepe, voluptatem, culpa molestiae amet
        fuga fugit quasi iste eaque atque perferendis aliquam tempora aspernatur fugiat, libero provident animi ratione?
        Impedit suscipit quis vitae voluptatem esse, maxime nulla nihil quia ullam placeat aperiam architecto, nobis
        perspiciatis officia laboriosam pariatur! Aliquid assumenda cum sit error consequuntur cupiditate eius quisquam
        sed
        nesciunt.

        Ullam qui quaerat, necessitatibus tempore aut dignissimos repudiandae laboriosam, odio modi mollitia sapiente
        numquam maiores fuga tenetur commodi hic libero culpa atque nulla deleniti quos eos doloremque officiis!
        Consequuntur, accusamus?
        Amet optio totam aperiam fuga quas natus, laudantium obcaecati, soluta sunt adipisci quasi. Dolor inventore
        beatae
        ad vel corporis voluptate voluptatibus nulla sequi repudiandae accusantium, perferendis, iure nesciunt voluptas
        in?
    </div>
</section>
<section class="footer">Footer</section>