HTML SCSSResult Skip Results Iframe
EDIT ON
<p>Using <code>.is-active</code> to indicate current page</p>
<nav class="app-nav">
    <ul>
        <li>
            <a href="#/">Home</a>
        </li>
        <li>
            <a href="#/features"
               class="is-active">Features</a>
        </li>
        <li>
            <a href="#/contact">Contact</a>
        </li>
    </ul>
</nav>

<p>Using <code>[aria-current="page"]</code> to indicate current page</p>
<nav class="app-nav">
    <ul>
        <li>
            <a href="#/">Home</a>
        </li>
        <li>
            <a href="#/features"
               aria-current="page">Features</a>
        </li>
        <li>
            <a href="#/contact">Contact</a>
        </li>
    </ul>
</nav>